*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
font-family: 'Roboto', sans-serif;

font-family: 'Ubuntu', sans-serif;
*/

body{
  font-family: 'Roboto', sans-serif;
}

/* Classi riutilizzabili */
.container{
  width: 80%;
  margin: auto;
}

.float-left{
  float: left;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* Button */
.btn{
  border-radius: 5px;
  padding: 10px 15px;
}

.btn-green{
  background-color: #7cbb02;
}

.btn-large{
  background-color: #7cbb02;
  padding: 25px;
}

.btn-blue{
  border: 1px solid white;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}

/* Header */
header{
  background-color: #0d325a;
  background-image: url('../img/background-header.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 115%;
  color: white;
}

.header-nav{
  height: 80px;
  line-height: 80px;
}

.header-nav li{
  display: inline-block;
  padding: 0 10px;
}

.header-left{
  width: 12%;
  height: 80px;
}

.header-left img{
  margin-top: 18px;
}


.header-center{
  width: 48%;
  height: 80px;
  text-align: left;
}

.header-right{
  width: 40%;
  height: 80px;
  text-align: right;
}

.jumbotron{
  height: 450px;
  position: relative;
}

.jumbo-text{
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.jumbo-text h1{
  font-size: 54px;
  margin-bottom: 60px;
}

/* Corpo principale */
main{
  width: 100%;
}

.text-full{
  height: 150px;
  background-color: lightgrey;
  position: relative;
}

.text-full-middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2.2;
  text-align: center;
}

.text-full-middle h2{
  font-size: 28px;
}

.text-full-middle p{
  font-size: 20px;
  color: grey;
}

/* Sezione Centrale con 3 Box */

/* Box Left */
.sec-top .box-left{
  width: calc(100% / 3);
  text-align: center;
  line-height: 1.6;
}

.box-left .img-left img{
  width: 30%;
  margin: 30px 0;
}

.box-left .img-left h3{
  color: #7cbb02;
  font-size: 24px;
  margin: 0 50px;
}

.box-left .img-left hr{
  width: 20%;
  display: inline-block;
}

.box-left .img-left p{
  margin: 30px;
}


/* Box Center */
.sec-top .box-center{
  width: calc(100% / 3);
  text-align: center;
  line-height: 1.6;
}

.box-center .img-center img{
  width: 52%;
  margin: 30px 0;
}

.box-center .img-center h3{
  color: #7cbb02;
  font-size: 24px;
  margin: 0 50px;
}

.box-center .img-center hr{
  width: 20%;
  display: inline-block;
}

.box-center .img-center p{
  margin: 30px;
}

/* Box Right */
.sec-top .box-right{
  width: calc(100% / 3);
  text-align: center;
  line-height: 1.6;
}

.box-right .img-right img{
  width: 35%;
  margin: 30px 0;
}

.box-right .img-right h3{
  color: #7cbb02;
  font-size: 24px;
  margin: 0 50px;
}

.box-right .img-right hr{
  width: 20%;
  display: inline-block;
}

.box-right .img-right p{
  margin: 30px;
}

/* Sezione con 2 colonne */
.img-left-meta{
  width: calc(100% / 2);
}

.img-left-meta img{
  margin: 5% 25%;
}

.sec-center .text-right{
  width: calc(100% / 2);
  text-align: left;
  /* margin-right: 15%; */
  /* line-height: 1.6; */
}

.sec-center .text-right a{
  text-decoration: underline;
  text-transform: none;
  color: blue;
  font-size: 14px;
}

.text-right-meta{
  margin-top: 5%;
  margin-right: 20%;
}

.text-right-meta h2{
  font-size: 36px;
  margin-bottom: 20px;
}


/* Bottom */
.sec-bottom .sec-bottom-text{
  height: 150px;
  width: calc(100% / 2);
  background-color: #0d325a;
}

.sec-bottom .sec-bottom-nav{
  height: 150px;
  width: calc(100% / 2);
  background-color: lightblue;
}
