*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
font-family: 'Roboto', sans-serif;

font-family: 'Ubuntu', sans-serif;
*/

body{
  font-family: 'Roboto', sans-serif;
}

/* Classi riutilizzabili */
.container{
  width: 80%;
  margin: auto;
}

.float-left{
  float: left;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* Button */
.btn{
  border-radius: 5px;
  padding: 10px 15px;
}

.btn-green{
  background-color: #7cbb02;
}

.btn-large{
  background-color: #7cbb02;
  padding: 25px;
}

.btn-blue{
  border: 1px solid white;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}

/* Header */
header{
  background-color: #0d325a;
  background-image: url('../img/background-header.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 115%;
  color: white;
}

.header-nav{
  height: 80px;
  line-height: 80px;
}

.header-nav li{
  display: inline-block;
  padding: 0 10px;
}

.header-left{
  width: 12%;
  height: 80px;
}

.header-left img{
  margin-top: 18px;
}


.header-center{
  width: 48%;
  height: 80px;
  text-align: left;
}

.header-right{
  width: 40%;
  height: 80px;
  text-align: right;
}

.jumbotron{
  height: 450px;
  position: relative;
}

.jumbo-text{
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.jumbo-text h1{
  font-size: 54px;
  margin-bottom: 60px;
}

/* Corpo principale */
main{
  width: 100%;
}

.text-full{
  height: 150px;
  background-color: lightgrey;
  position: relative;
}

.text-full-middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2.2;
  text-align: center;
}

.text-full-middle h2{
  font-size: 28px;
}

.text-full-middle p{
  font-size: 20px;
  color: grey;
}

.sec-top .box-left{
  height: 300px;
  width: calc(100% / 3);
  background-color: green;
}

.sec-top .box-center{
  height: 300px;
  width: calc(100% / 3);
  background-color: white;
}

.sec-top .box-right{
  height: 300px;
  width: calc(100% / 3);
  background-color: red;
}

.sec-center .img-left{
  height: 300px;
  width: calc(100% / 2);
  background-color: lightblue;
}

.sec-center .text-right{
  height: 300px;
  width: calc(100% / 2);
  background-color: blue;
}

.sec-bottom .sec-bottom-text{
  height: 150px;
  width: calc(100% / 2);
  background-color: blue;
}

.sec-bottom .sec-bottom-nav{
  height: 150px;
  width: calc(100% / 2);
  background-color: lightblue;
}
