*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
font-family: 'Roboto', sans-serif;

font-family: 'Ubuntu', sans-serif;
*/

body{
  font-family: 'Roboto', sans-serif;
}

/* Header */
header{
  /* Da cancellare */
  background-color: blue;
}

.header-nav{
  height: 80px;
  /* Da cancellare */
  background-color: yellow;
}

.jumbotron{
  height: 420px;
  /* Da cancellare */
  background-color: pink;
}

/* Corpo principale */
main{
  width: 100%;
}

.container{
  width: 80%;
  margin: auto;
}

.text-full{
  height: 150px;
  background-color: lightgrey;
}

.sec-top{
  height: 300px;
  /* Da cancellare */
  background-color: purple;
}

.sec-center{
  height: 300px;
  /* Da cancellare */
  background-color: green;
}

.sec-bottom{
  height: 150px;
  /* Da cancellare */
  background-color: violet;
}
